html {
	border: 1px solid black; 
}

.header, .container, footer {
	width: 100%;
	max-width: 1024px; /*максимальная ширина может иметь другое значение*/
	padding: 0 15px;
	margin: 15px auto;
	border: 1px solid black; 
}

.container select {
	width: 100%;
}

.histogram {
	width: 30%;
	height: 200px;
	margin: 15px auto;
	border: 1px solid yellow; 
}

.btn {
	width: 100%;
	max-width: 1024px; /*максимальная ширина может иметь другое значение*/
	margin: 5px auto
}